@font-face {
    font-family: "PangMenZhengDao";
    src: url(~/assets/fonts/PangMenZhengDao.ttf);
  }
  @font-face {
    font-family: "SourceHanSansSC";
    src: url(~/assets/fonts/SourceHanSansSC-Normal-2.otf);
  }